@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
#root {
    display: grid;
    grid-template-columns: 30% 1fr;
    margin: 30px;
    justify-items: center;
}

body {
    background-color: #f1f5f9;
}