* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    background-color: #fafafa;
}

.App-interface {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: 100%;
}
.Short-Cuts {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.Info-Box {
    display: flex;
    justify-content: space-around;
    background-color: #ecf0f1;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}
.Info-Box:hover {
    background-color: #2980b9;
    color: #ecf0f1;
  }