.Forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.Input-field {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
}
.Input-field > label {
    margin-bottom: 5px;
}
.Input-field > input{
  padding: 8px;
  margin-bottom: 10px; /* Adjust spacing between input fields */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}
.Box-Header {
    text-align: center;
    width: 100%;
    padding: 20px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    background-color: #ecf0f1;
    font-size: 1.4rem;
}
.Box-Header:hover {
    background-color: #2980b9;
    color: #ecf0f1;
  }
.Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Education {
    width: 300px;
}
.Education-Form {
    display: none;
}
.Personal {
    width: 300px;
    margin-top: 30px;
}
.Personal-Form {
    display: none;
}
.Experience {
    width: 300px;
}
.Experience-Form {
    display: none;
}
.open {
    display: block;
}
.Submit-btn {
  padding: 10px;  
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.Submit-btn:hover {
    background-color: #2980b9;
  }
.Delete-btn {
    border: none;
    padding: 10px;  
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd4949;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.Delete-btn:hover {
    background-color: #950303;
  }
.btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}