.Resume {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 800px;
}
.Resume-Paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100%;
    width: 85%;
    box-shadow: 0 4px 8px rgba(128, 128, 128, 0.5);
    gap: 5px;
}
.Divider {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #ecf0f1;
}
.Personal-Section {
    padding: 20px;
    background-color: #475569;
    width: 100%;
}
.Personal-Item {
    display: grid;
    grid-template-columns: 1fr;
}
h1 {
    text-align: center;
}
.Contacts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
    text-align: center;
}
.Education-Section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.Education-Item {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 20px;
    border-left: 2px solid black;
    
}
.left-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-one {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
